<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Whenever you need something, please feel free to contact us via twitter or email. Our support service will make their best effort to comfort your needs. 
</p>